.groups {
  font-size: 18px;

  input {
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px 20px;
  }

  .input-wp {
    margin: 10px 0;
  }

  .btn {
    border-radius: 4px;
    padding: 10px;
    color: white;
    cursor: pointer;

    &.submit {
      background-color: blue;
      margin: 10px 0;
    }
  }

  .errors{
    color: red;
    padding: 10px 0;
  }

}


